* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.header-section {
  background-color: #1f2937;
  padding-top: 20px;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

.nav-link a {
  display: flex;
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
  margin-right: 30px;
  padding-top: 5px;
}

.navbar {
  display: flex;
  flex-direction: row;
}

ul {
  display: flex;
  flex-direction: row;
}

.navbar-left,
.navbar-right {
  display: flex;
  width: 50%;
  justify-content: center;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.para {
  font-size: 18px;
  color: #e5e7eb;
  width: 500px;
}

.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px;
}

.hero-left,
.hero-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero-left {
  margin-bottom: 140px;
  margin-left: 50px;
}

img {
  margin-left: 110px;
  margin-bottom: 125px;
}

.btn {
  margin-top: 10px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #3882f6;
  border: 2px solid #3882f6;
  border-radius: 5px;
  color: #e5e7eb;
  font-weight: bold;
}

h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
  margin-top: -50px;
  margin-bottom: 30px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.render1 {
  height: 200px;
  width: 200px;
  margin: 20px;
  border-radius: 10px;
  border: solid #3882f6;
}

.card-subtext {
  text-align: center;
  margin-top: -15px;
}

.quote.section {
  background-color: #e5e7eb;
}

.quote-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding-left: 500px;
  padding-right: 500px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #e5e7eb;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}

.quote-author {
  font-weight: 900;
  align-self: flex-end;
  padding-top: 10px;
}

.call-action {
  margin: 100px;
}

.call-container {
  background-color: #3882f6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 400px;
  margin-right: 400px;
  border-radius: 10px;
  padding: 50px;
}

h3 {
  color: #e5e7eb;
  padding: 0px;
  margin: 0px;
}

.call-text {
  color: #e5e7eb;
  padding: 0px;
  margin: 0px;
  font-weight: 100;
}

.signup-button {
  border: 2px solid #e5e7eb;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 5px;
  font-weight: bold;
}

.footer-container {
  background-color: #1f2937;
}

.footer {
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: center;
  font-size: 18px;
  color: #e5e7eb;
  padding: 35px;
  margin-bottom: 0px;
}

.footer-text {
  font-weight: 100;
}
